/* home page */

    .hero {
      background: url('https://media.istockphoto.com/id/1437830105/photo/cropped-shot-of-a-female-nurse-hold-her-senior-patients-hand-giving-support-doctor-helping.jpg?s=612x612&w=0&k=20&c=oKR-00at4oXr4tY5IxzqsswaLaaPsPRkdw2MJbYHWgA=') center/cover no-repeat;
      height: 500px;
      display: flex;
      align-items: center;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
      position: relative;
    }

    .hero::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
    }

    .hero .container {
      position: relative;
      z-index: 2;
      height: 500px;
      display: flex;
     justify-content: center;
  align-items: center; 
      flex-direction: column;
    }

    /* services page */

    body {
      font-family: 'Segoe UI', sans-serif;
    }

    .service-card {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      padding: 20px;
      transition: transform 0.3s;
      background-color: #fff;
      height: 100%;
    }

    .service-card:hover {
      transform: translateX(-5px);
    }

    .icon-box {
      font-size: 40px;
      color: #0d6efd;
      margin-bottom: 15px;
    }

    .why-us-section {
      background-color: #f8f9fa;
      padding: 60px 0;
    }


    /* appointment page */

    .appointment-card {
      background: #fff;
      padding: 40px 30px;
      border-radius: 12px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }

    h2.title {
      color: #0d6efd;
      font-weight: 700;
    }

    label.form-label {
      font-weight: 500;
    }

    .btn-primary {
      padding: 10px 40px;
      font-size: 1rem;
      font-weight: 500;
      border-radius: 30px;
    }

    .time-info {
      background: #e9f0ff;
      padding: 15px;
      border-radius: 8px;
      font-size: 0.95rem;
      margin-top: -10px;
      margin-bottom: 20px;
      color: #084298;
    }

    .nav-tabs .nav-link.active {
      background-color: #0d6efd;
      color: #fff !important;
    }

    .nav-tabs .nav-link {
      color: #0d6efd;
      font-weight: 500;
    }

    .table th,
    .table td {
      vertical-align: middle;
    }


/* history page */

    .content {
      flex: 1;
    }

    .appointment-card {
      background: #fff;
      padding: 40px 30px;
      border-radius: 12px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
      margin-top: 50px;
    }

    .table th,
    .table td {
      vertical-align: middle;
    }

    /* contact page */


    .contact-card {
      background-color: #f8f9fa;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }

    .form-control,
    .form-select {
      border-radius: 8px;
    }


    /* logout */

    .button:hover{
      color: white;
      box-shadow: none;
    }